* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #835AFD;
  --secondary: #29292E;
  --background: #F8F8F8;
  --white-50: #E2E2E2;
  --border: #A8A8B3;
  --gray-500: #737380;
  --red-200: #EA4335;
  --pink-50: #E559F9;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%; 
  }
}

body {
  background: var(--background);
  color: var(--secondary);
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

strong, h1, h2, h3,h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}