.question {
  padding: 1.5rem;

  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);

  background: var(--white);

  & + .question {
    margin-top: .5rem;
  }

  p {
    color: var(--secondary);
  }

  footer {
    margin-top: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;

        border-radius: 50%;
      }

      span {
        margin-left: 8px;

        font-size: .875rem;
        color: var(--gray-500);
      }
    }

    button {
      cursor: pointer;
      border: 0;
      
      background: transparent;

      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;

        gap: .5rem;

        color: var(--gray-500);

        &.liked {
          color: var(--primary);

          svg path {
            stroke: var(--primary);
          }
        }
      }

      &:hover {
        filter: brightness(.4);
      }
    }
  }
}